<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="idolMapper">
	
	<resultMap type="idol" id="boardResultSet">
		<result	column="ID" 		property="id" />
	    <result	column="NAME" 	property="name" />
	    <result	column="MEMBER" 	property="member" />
	    <result	column="SONG" 	property="song" />
	    <result	column="IMAGE" 			property="image" />
	    <result	column="DESCRIPTION" 	property="description" />
	</resultMap>
	
	<select id="selectIdols" resultType="idol">
		
		SELECT 
				  ID
				  ,NAME
				  ,MEMBER
				  ,IMAGE
				  ,DESCRIPTION
			FROM
				  IDOL
			ORDER
			   BY ID
	
	</select>
	
	<insert id="insertIdol" parameterType="idol">
		INSERT 
		  INTO
		  		IDOL
		  VALUES
		  		(
		  		SEQ_IDOL_ID.NEXTVAL,
		  		#{ name },
		  		#{ member }, 
		  		#{ song }, 
		  		#{ image }, 
		  		#{ description }
		  		)
		
	</insert>
	
	<delete id="deleteIdol">
		
		DELETE FROM IDOL
		WHERE ID = #{ id }
	
	</delete>

	<!-- 버전 1 -->
	<resultMap id="boardMap" type="parent">
	
		<result column="bno" property="bno"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="type" property="type"/>
		<result column="createDate" property="createDate"/>
		<discriminator column="type" javaType="_int">
			<case value="1" resultType="user" >
				<result column="writer" property="writer"/>
			</case>
			<case value="2" resultType="photo" >
				<result column="image" property="image"/>
			</case>
		</discriminator>
	</resultMap>	
	
	
	<!-- 버전 2 -->
	<resultMap id="renewalMap" type="parent">
		<association property="parentBoard" javaType="parent">
			<result column="bno" property="bno" />
			<result column="title" property="title"/>
			<result column="content" property="content" />
			<result column="type" property="type"/>
			<result column="createDate" property="createDate"/>
		</association>
		<discriminator javaType="_int" column="type">
			<case value="1" resultType="user">
				<result column="writer" property="writer"/>
			</case>
			<case value="2" resultType="photo">
				<result column="image" property="image"/>
			</case>
		</discriminator>
		
	</resultMap>
	
	
	<!--  category : user || photo -->
	<!-- 버전 1
	<select id="selectBoardList" parameterType="string" resultMap="boardMap">
	 -->
	 
	<!-- 버전 2 -->
	<select id="selectBoardList" parameterType="string" resultMap="renewalMap">
		SELECT
				*
		  FROM 
		  		PARENT_BOARD
		  	<if test="category == 'user'">
		  	JOIN 
		  		USER_BOARD USING(BNO)
		  	</if>
		  	<if test="category == 'photo'">
		  	JOIN
		  		PHOTO_BOARD USING(BNO)
			</if>
	
	</select>
	
	<resultMap id="parentAndReplyMap" type="_int" >
		<result column="bno" property="bno" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="create_date" property="create_date" />
		<collection property="replyList" resultMap="replyMap"></collection>
	</resultMap>
	
	<!-- 댓글의 정보를 담을 resultMap -->
	<resultMap id="replyMap" type="com.kh.spring.idol.model.vo.IdolReply">
		<result column="rno" property="rno" />
		<result column="bno" property="bno" />
		<result column="reply_content" property="reply_content" />
	</resultMap>
	
	
	<select id="selectBoard" parameterType="_int" resultMap="parentAndReplyMap">
	
		SELECT 
				P.BNO BNO, 
				TITLE, 
				CONTENT, 
				CREATE_DATE, 
				RNO, 
				REPLY_CONTENT
			FROM 
				PARENT_BOARD P
			LEFT
			JOIN
				IDOL_REPLY I ON (P.BNO = I.BNO)
			WHERE
				P.BNO = #{ boardNo }
	
	</select>
	
	
	
	
</mapper>