<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE select PUBLIC "//UNKNOWN/" "unknown.dtd">

</resultMap>
<select id="memberResultSet" parameterType resultType="_int">

	SELECT
			MEMBER_ID, MEMBER_NM
		FROM 
			MEMBER
		WHERE
			MEMBER_ID = #{memberId}
		AND
			MEMBER_PWD = #{memberPwd}
		
</select>​